@import 'nib'; //para que atributos se vean en varios navegadores
@import './lib/normalize'
@import '/reset'

$amarillo = #FFAC2A
$guindo = #D70101

*
	outline none
	box-sizing border-box
	

body
	font-size 16px
	background #C1C1C1


@import './header'
@import './pokemons'
