.Header
	background $guindo
	color white
	position fixed
	left 0
	right 0
	z-index 100
	&-wrapper
		display flex
		align-items center
		padding 1em
		&-logo
			width 1em
			height 1em
			background white
			margin-right 2em