.Pokemons
	padding-top 4em
	.Pokemon
		background white
		display flex
		&:nth-child(odd)
			background #C4C4C4
		&-img
			width 10em
			height 10em
			background black
		&-info
			display flex
			position relative
			align-items center
			justify-content center
			width 100%
			padding-bottom 4em
			&-name
				padding 0 1em
			button
				border 0
				position absolute
				bottom 1em
				right 1em
				background transparent
				padding 0.5em 1em
				border 3px solid $amarillo
				color $amarillo
				&:hover
					color white
					background $amarillo