<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name=viewport content="width=device-width, initial-scale=1")
		title Pokedex
		link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
		link(rel="stylesheet" type="text/css" href="css/app.css")
	body
		p Roberto asdasdasdadadadasd
		script(src="./js/index.js")