<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")

		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
		

		title Pokedex
		link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
		link(rel="stylesheet" type="text/css" href="css/app.css")
	body
		header.Header
			div.Header-wrapper
				figure.Header-wrapper-logo
				h1.Header-wrapper-tittle Pokédex
		section.Pokemons

			article.Pokemon
				figure.Pokemon-img
					img
				div.Pokemon-info
					h2.Pokemon-info-name Nombre del pokemón
					button 
						b More info...

			article.Pokemon
				figure.Pokemon-img
					img
				div.Pokemon-info
					h2.Pokemon-info-name Nombre del pokemón
					button 
						b More info...

			article.Pokemon
				figure.Pokemon-img
					img
				div.Pokemon-info
					h2.Pokemon-info-name Nombre del pokemón
					button 
						b More info...

			article.Pokemon
				figure.Pokemon-img
					img
				div.Pokemon-info
					h2.Pokemon-info-name Nombre del pokemón
					button 
						b More info...

			article.Pokemon
				figure.Pokemon-img
					img
				div.Pokemon-info
					h2.Pokemon-info-name Nombre del pokemón
					button 
						b More info...




		script(src="./js/index.js")